<div class="order-calculation-container">
  <div class="row" *ngFor="let pizza of pizzas">
    <app-ordered-pizza [pizza]="pizza"></app-ordered-pizza>
  </div>
  <div class="row final-calculation">
    <div class="details">
      <label>
        Subtotal :
        <span> {{ subTotal }} $</span>
      </label>
      <label>
        Tax :
        <span> {{ totalTax }} $</span>
      </label>
      <p>----------------------------</p>
      <label>
        Total :
        <span> {{ subTotal + totalTax | number: "1.2-2" }} $</span>
      </label>
    </div>
  </div>
  <div class="confirm-order">
    <button mat-raised-button color="primary" (click)="confirmOrder()">
      Confirm Order
    </button>
  </div>
</div>
