<div class="pizzeria">
  <mat-form-field appearance="fill">
    <mat-label>Select Pizzeria</mat-label>
    <mat-select
      (selectionChange)="onPizzeriaChange($event.value)"
      [(value)]="selectedPizzeria && selectedPizzeria.id"
    >
      <mat-option *ngFor="let pizzeria of pizzerias" [value]="pizzeria.id">
        {{ pizzeria.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div *ngIf="selectedPizzeria" class="pizzeria-card">
    <app-pizzeria-card
      [selectedPizzeria]="selectedPizzeria"
    ></app-pizzeria-card>
  </div>
</div>
