$font-color-primary: green;

// Custom break point (Min)
$min-desktop-hd: 1440px;
$min-laptop: 1280px;
$min-desktop: 1024px;
$min-tablet: 768px;
$min-mobile: 480px;

// Custom break point (Max)
$max-desktop-hd: 1439px;
$max-laptop: 1279px;
$max-desktop: 1023px;
$max-tablet: 767px;
$max-mobile: 479px;

$default-max-width: 1280px;
