@import "variables";

.ordered-pizza {
  display: flex;
  margin-bottom: 25px;
  padding-bottom: 10px;
  border-bottom: 1px solid grey;

  .avatar {
    img {
      width: 100px;
      height: 100px;
      object-fit: cover;

      @media screen and (max-width: $max-mobile) {
        width: 60px;
        height: 60px;
      }
    }
  }

  .details {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media screen and (max-width: $max-mobile) {
      margin-left: 20px;
    }

    .name {
      font-size: 18px;

      @media screen and (max-width: $max-mobile) {
        font-size: 16px;
      }
    }

    .row {
      font-size: 16px;
      display: flex;

      @media screen and (max-width: $max-mobile) {
        display: flex;
        flex-direction: column;
        font-size: 14px;
      }

      .column {
        margin-right: 15px;
      }

      label {
        margin-right: 10px;
      }

      span {
        color: $font-color-primary;
      }
    }
  }
}
