<div class="container">
  <app-pizzerias
    *ngIf="!selectedPizzeria"
    (onSelectPizzeria)="onSelectPizzeria($event)"
  ></app-pizzerias>

  <app-pizza
    *ngIf="selectedPizzeria && selectedPizzas.length === 0"
    [selectedPizzeria]="selectedPizzeria"
    (onBack)="selectedPizzeria = null"
    (setSelectedPizza)="setSelectedPizza($event)"
  >
  </app-pizza>

  <app-pizza-order-calculation
    *ngIf="selectedPizzas.length > 0 && !orderResponse"
    [selectedPizzeria]="selectedPizzeria"
    [pizzas]="selectedPizzas"
    (setOrderedPizzasResponse)="setOrderedPizzasResponse($event)"
  >
  </app-pizza-order-calculation>

  <div *ngIf="orderResponse">
    <pre><p>{{orderResponse | json}}</p></pre>
  </div>
</div>
