@import "variables";

.pizza-list {
  margin: 50px;

  @media screen and (max-width: $max-768) {
    margin: 20px;
  }

  .pizzeria-details {
    text-align: center;
    margin-bottom: 50px;

    .name {
      font-size: 20px;
      font-weight: bold;
    }
  }

  .header-content {
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: $max-480) {
      flex-direction: column;
    }

    button {
      margin-bottom: 20px;

      &:nth-child(2) {
        margin-left: 20px;
      }
    }

    p {
      font-size: 18px;
      text-align: right;

      @media screen and (max-width: $max-768) {
        font-size: 16px;
      }

      span {
        color: $font-color-primary;
      }
    }
  }

  .content {
    display: flex;
    flex-wrap: wrap;
  }

  .no-pizza-available {
    text-align: center;

    p {
      color: #ff6363;
      font-size: 18px;
      @media screen and (max-width: $max-768) {
        font-size: 16px;
      }
    }
  }
}
