<div class="pizza-list">
  <div *ngIf="selectedPizzeria" class="pizzeria-details">
    <p class="name">{{ selectedPizzeria.name }}</p>
    <p>{{ selectedPizzeria.address }}</p>
  </div>
  <div class="header-content" *ngIf="pizzas.length > 0">
    <div>
      <button mat-raised-button (click)="onBack.emit()">Back</button>
      <button
        *ngIf="totalPizzas > 0"
        mat-raised-button
        color="primary"
        (click)="orderCalculation()"
      >
        Order Calculation
      </button>
    </div>
    <div>
      <p>
        Total Pizzas : <span>{{ totalPizzas }}</span>
      </p>
      <p>
        Subtotal : <span>{{ subTotal }}</span>
      </p>
    </div>
  </div>
  <div
    *ngIf="pizzas.length > 0; else no_pizza_available_content"
    class="content"
  >
    <app-pizza-card
      *ngFor="let pizza of pizzas; let index = index"
      [pizza]="pizza"
      (updatePizzaQuantity)="updatePizzaQuantity($event, index)"
    ></app-pizza-card>
  </div>

  <ng-template #no_pizza_available_content>
    <mat-card class="no-pizza-available">
      <mat-card-content>
        <p>No Pizza available for selected Pizzeria.</p>
        <p>Kindly choose other Pizzeria from Pizzeria tab.</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary">Back</button>
      </mat-card-actions>
    </mat-card>
  </ng-template>
</div>
